<h1>Display your Pirate here</h1>
<ul>
  <li>Name: <%=@pirate.name%></li>
  <li>Weight: <%=@pirate.weight%></li>
  <li>Height: <%=@pirate.height%></li>
</ul>

<h2>Display your first ship here</h2>
<ul>
  <li>Name: <%=@ship1.name%></li>
  <li>Type: <%=@ship1.type%></li>
  <li>Booty: <%=@ship1.booty%></li>
</ul>

<h2>Display your second ship here</h2>
<ul>
  <li>Name: <%=@ship2.name%></li>
  <li>Type: <%=@ship2.type%></li>
  <li>Booty: <%=@ship2.booty%></li>
</ul>
